<div class="container">
  <div class="filters">
    <div>
      <label for="status" class="form-label">Status</label>
      <select name="status" id="status"
        class="form-control form-control-sm form-select form-select-sm"
        (input)="onChange($event)"
      >
        <option *ngFor="let item of statusValues" value="{{ item.value }}">
          {{ item.key }}
        </option>
      </select>
    </div>
  </div>
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Strategy</th>
        <th scope="col">Symbol</th>
        <th scope="col">Segment</th>
        <th scope="col">Label</th>
        <th scope="col">Status</th>
        <th scope="col">PL</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of strategies && strategies.items">
        <!-- <tr>
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.strategy }}</td>
          <td>{{ item.symbol }}</td>
          <td>{{ item.segment }}</td>
          <td>{{ item.label }}</td>
          <td>{{ item.status }}</td>
          <td>
            <b>
              <span *ngIf="item.pl > 0" class="text-success text">{{
                item.pl
              }}</span>
              <span *ngIf="item.pl < 0" class="text-danger">{{ item.pl }}</span>
              <span *ngIf="item.pl == 0">{{ item.pl }}</span></b
            >
          </td>
          <td>
            <button
              *ngIf="item.status === 'Open'"
              class="btn btn-sm btn-primary mx-1"
              (click)="startStrategy(item.id)"
            >
              Start
            </button>
            <a
              routerLink="/strategies/{{ item.id }}"
              class="btn btn-sm btn-primary mx-1"
              >View</a
            >
          </td>
        </tr> -->
        <tr class="strategy-row" [strategy]="item"></tr>
      </ng-container>
    </tbody>
  </table>
</div>
