<div class="container">
  <h5 class="text-center">Strategy details - {{ strategy.id }}</h5>
  <div class="row my-2">
    <div class="col-4"></div>
    <div class="col-5"></div>
    <div class="col">
      <h5 class="text-end">
        Profit & Loss :
        <span *ngIf="strategy.pl > 0" class="text-success">{{
          strategy.pl
        }}</span
        ><span *ngIf="strategy.pl < 0" class="text-danger">{{
          strategy.pl
        }}</span>
        <span *ngIf="strategy.pl === 0">{{ strategy.pl }}</span>
      </h5>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">Strategy : {{ strategy.strategy }}</div>
    <div class="col">
      <span>Symbol : </span> <span>{{ strategy.symbol }}</span>
    </div>
    <div class="col">
      <span>Segment : </span> <span>{{ strategy.segment }}</span>
    </div>
    <div class="col">
      <span>Label : </span> <span>{{ strategy.label }}</span>
    </div>
    <div class="col">
      <span>Status : </span> <span>{{ strategy.status }}</span>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <span>Breakout High : </span> <span>{{ strategy.breakoutHigh }}</span>
    </div>
    <div class="col">
      <span>Breakout Low : </span> <span>{{ strategy.breakoutLow }}</span>
    </div>
    <div class="col">
      <span>Expiry : </span> <span>{{ strategy.expiry }}</span>
    </div>
    <div class="col">
      <span>Expiry Date : </span> <span>{{ strategy.expiryDate }}</span>
    </div>
    <div class="col">
      <span>Type : </span> <span>{{ strategy.type }}</span>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <span>Additions ATM Points : </span>
      <span>{{ strategy.additionalATMPoints }}</span>
    </div>
    <div class="col">
      <span>Quantity : </span> <span>{{ strategy.quantity }}</span>
    </div>
    <div class="col">
      <span>Time Frame : </span> <span>{{ strategy.timeFrame }}</span>
    </div>
    <div class="col">
      <span>#SL hit : </span> <span>{{ strategy.noOfSLHit }}</span>
    </div>
    <div class="col">
      <span>#Entries : </span> <span>{{ strategy.noOfEntries }}</span>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-3">
      <span>Start Time : </span> <span>{{ strategy.startTime }}</span>
    </div>
    <div class="col-3">
      <span>End Time : </span> <span>{{ strategy.endTime }}</span>
    </div>
  </div>

  <h5 class="text-center mt-4">Entries</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Buy/Sell</th>
        <th scope="col">Quantity</th>
        <th scope="col">Entry</th>
        <th scope="col">Exit</th>
        <th scope="col">Status</th>
        <th scope="col">LTP</th>
        <th scope="col">Order Id</th>
        <th scope="col">Created Time</th>
        <th scope="col">Updated Time</th>
        <th scope="col">Strike Price</th>
        <th scope="col">Option Type</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of strategy.entries">
        <tr>
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.side }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.entry }}</td>
          <td>{{ item.exit }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.ltp }}</td>
          <td>{{ item.orderId }}</td>
          <td>{{ item.createdTime }}</td>
          <td>{{ item.modifiedTime }}</td>
          <td>{{ item.optionStrikePrice }}</td>
          <td>{{ item.optionType }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
