<div class="header">
    <span>Algo Trade</span>
    <ul>
        <li>
            <a routerLink="/breakout-strategy">Breakout Strategy</a>
        </li>
        <li>
            <a routerLink="/strategies">Strategies</a>
        </li>
        <li>
            <a routerLink="/login">Login</a>
        </li>
    </ul>
</div>
<hr/>
<router-outlet></router-outlet>
