<label [for]="fieldName" class="form-label">{{ label }}</label>
<input
  [type]="type"
  class="form-control form-control-sm"
  [value]="value"
  (input)="onChange($event)"
  [disabled]="isDisabled"
  [name]="fieldName"
  [id]="fieldName"
/>
<app-field-error [formField]="formField"></app-field-error>
