<label [for]="fieldName" class="form-label">{{ label }}</label>
<div>
  <select
    [name]="fieldName"
    [id]="fieldName"
    class="form-control form-control-sm form-select form-select-sm"
    (input)="onChange($event)"
    [disabled]="isDisabled"
    [value]="value"
  >
    <option *ngFor="let item of items" value="{{ item.value }}" [selected]="item.value === value">
      {{ item.key }}
    </option>
  </select>
</div>

<app-field-error [formField]="formField"></app-field-error>
