<p>Login</p>

<div>
    <div>
        Email
        <input type="text"/>
    </div>
    <div>
        Password
        <input type="password"/>
    </div>
    <div>
        <input type="button" value="Login"/>
    </div>
</div>
