<ng-container *ngIf="formField.dirty">
    <p  class="text-danger" *ngIf="formField.errors && formField.errors.required">Required</p>
    <p  class="text-danger" *ngIf="formField.errors && formField.errors.minlength">Min length is {{formField.errors.minlength.requiredLength}}</p>
    <p  class="text-danger" *ngIf="formField.errors && formField.errors.min">Min value is {{formField.errors.min.min}}</p>
</ng-container>