<div class="container">
  <h5 class="">Breakout Strategy</h5>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row my-4">
      <div class="col-2">
        <app-text-input
          type="text"
          [parentForm]="form"
          fieldName="id"
          label="Id"
          formControlName="id"
        ></app-text-input>
      </div>
      <div class="col-2">
        <app-text-input
          type="text"
          [parentForm]="form"
          fieldName="symbol"
          label="Symbol"
          formControlName="symbol"
        ></app-text-input>
      </div>
      <div class="col-2">
        <app-select-input
          [parentForm]="form"
          fieldName="segment"
          label="Segment"
          formControlName="segment"
          [items]="segmentValues"
        ></app-select-input>
      </div>
      <div class="col-2">
        <app-select-input
          [parentForm]="form"
          fieldName="strategy"
          label="Strategy"
          formControlName="strategy"
          [items]="strategyValues"
        ></app-select-input>
      </div>
      <div class="col-2">
        <app-select-input
          [parentForm]="form"
          fieldName="client"
          label="Client"
          formControlName="client"
          [items]="clientValues"
        ></app-select-input>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-2">
        <app-text-input
          type="text"
          [parentForm]="form"
          fieldName="label"
          label="Label"
          formControlName="label"
        ></app-text-input>
      </div>
      <div class="col-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="breakoutHigh"
          label="Breakout High"
          formControlName="breakoutHigh"
        ></app-text-input>
      </div>
      <div class="col-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="breakoutLow"
          label="Breakout Low"
          formControlName="breakoutLow"
        ></app-text-input>
      </div>
      <div class="col-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="quantity"
          label="Quantity"
          formControlName="quantity"
        ></app-text-input>
      </div>
      <div class="col-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="frequency"
          label="Frequency(sec)"
          formControlName="frequency"
        ></app-text-input>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-2">
        <app-text-input
          type="datetime-local"
          [parentForm]="form"
          fieldName="startTime"
          label="Start Time"
          formControlName="startTime"
        ></app-text-input>
      </div>
      <div class="col-2">
        <app-text-input
          type="datetime-local"
          [parentForm]="form"
          fieldName="endTime"
          label="End Time"
          formControlName="endTime"
        ></app-text-input>
      </div>
      <div class="col-2">
        <app-text-input
          type="date"
          [parentForm]="form"
          fieldName="expiryDate"
          label="Expiry Date"
          formControlName="expiryDate"
        ></app-text-input>
      </div>
      <div class="col-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="timeFrame"
          label="Time Frame"
          formControlName="timeFrame"
        ></app-text-input>
      </div>
      <div class="col-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="noOfEntries"
          label="#Entries"
          formControlName="noOfEntries"
        ></app-text-input>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-2">
        <app-select-input
          [parentForm]="form"
          fieldName="status"
          label="Status"
          formControlName="status"
          [items]="statusValues"
        ></app-select-input>
      </div>
      <div class="col-2">
        <app-select-input
          [parentForm]="form"
          fieldName="expiry"
          label="Expiry"
          formControlName="expiry"
          [items]="expiryValues"
        ></app-select-input>
      </div>
      <div class="col-2">
        <app-select-input
          [parentForm]="form"
          fieldName="strategyType"
          label="Strategy Type"
          formControlName="strategyType"
          [items]="strategyTypeValues"
        ></app-select-input>
      </div>
      <div class="col-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="noOfSlHit"
          label="#SL Hit"
          formControlName="noOfSlHit"
        ></app-text-input>
      </div>
      <div class="col-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="additionalATMPoints"
          label="Additional ATM Points"
          formControlName="additionalATMPoints"
        ></app-text-input>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="pl"
          label="Profit & Loss"
          formControlName="pl"
        ></app-text-input>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-2">
        <button class="btn btn-primary" [disabled]="form.invalid">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
