
    <th scope="row">{{ strategy.id }}</th>
    <td>{{ strategy.strategy }}</td>
    <td>{{ strategy.symbol }}</td>
    <td>{{ strategy.segment }}</td>
    <td>{{ strategy.label }}</td>
    <td>{{ strategy.status }}</td>
    <td>
      <b>
        <span *ngIf="strategy.pl > 0" class="text-success text">{{
            strategy.pl
        }}</span>
        <span *ngIf="strategy.pl < 0" class="text-danger">{{ strategy.pl }}</span>
        <span *ngIf="strategy.pl == 0">{{ strategy.pl }}</span></b
      >
    </td>
    <td>
      <button
        *ngIf="strategy.status === 'Open'"
        class="btn btn-sm btn-primary mx-1"
        (click)="startStrategy(strategy.id)"
      >
        Start
      </button>
      <a
        routerLink="/strategies/{{ strategy.id }}"
        class="btn btn-sm btn-primary mx-1"
        >View</a
      >
    </td>